<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AppTenantId" value=""/>
    <add key="AppClientId" value=""/>
    <add key="AppClientSecret" value=""/>
    <add key="DemoGroupMailAddress" value="teamsdemogroup@M365x568743.onmicrosoft.com"/>
  </appSettings>
</configuration>